{extend name="public:base" /}
{block name="page-content"}
	<div class="row" style="margin: 0 auto">
		<div class="col-xs-12">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-star orange"></i>
						添加导航 Add Nav
					</h4>
					<div class="widget-toolbar">
						<a href="#" data-action="collapse">
							<i class="ace-icon fa fa-chevron-up"></i>
						</a>
					</div>
					<h4 class="widget-title lighter pull-right" style="margin-right:20px;">
						<a href="javascript:history.back()" onClink>
							<i class="ace-icon glyphicon glyphicon-list"></i>
							返回导航列表
						</a>
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form class="form-horizontal" id="sample-form" action="" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label class="col-xs-12 col-sm-2 control-label no-padding-right">导航位：</label>
								<div class="col-xs-12 col-sm-5">
									<span class="block input-icon input-icon-right">
										<input type="text" class="width-100" value="{$nav_position['name']}" readonly="true" />
										<i class="ace-icon fa fa-leaf green"></i>
										<input type="hidden" name="nav_position_id" value="{$nav_position['id']}"/>
									</span>
								</div>
								<div class="help-block col-xs-12 col-sm-3 h"> 
									Warning tip help! 
								</div>
							</div>
							<div class="form-group">
								<label for="name" class="col-xs-12 col-sm-2 control-label no-padding-right">名称：</label>
								<div class="col-xs-12 col-sm-5">
									<span class="block input-icon input-icon-right">
										<input type="text" id="name" name="name" class="width-100" placeholder="请输入名称" />
										<i class="ace-icon fa fa-leaf green"></i>
									</span>
								</div>
								<div class="help-block col-xs-12 col-sm-3 h"> 
									Warning tip help! 
								</div>
							</div>
							<div class="form-group">
								<label for="img" class="col-xs-12 col-sm-2 control-label no-padding-right">图片：</label>
								<div class="col-xs-12 col-sm-5">
									<input type="file" id="img" name="img" placeholder="请选择图片" />
								</div>
								<div class="help-block col-xs-12 col-sm-3 h"> 
									Warning tip help! 
								</div>
							</div>
							<div class="form-group">
								<label for="url" class="col-xs-12 col-sm-2 control-label no-padding-right">链接：</label>
								<div class="col-xs-12 col-sm-5">
									<span class="block input-icon input-icon-right">
										<input type="text" id="url" name="url" class="width-100" value="" placeholder="请输入链接" />
										<i class="ace-icon fa fa-leaf green"></i>
									</span>
								</div>
								<div class="help-block col-xs-12 col-sm-3 h"> 
									Warning tip help! 
								</div>
							</div>
							<div class="form-group">
								<label for="sort" class="col-xs-12 col-sm-2 control-label no-padding-right">排序：</label>
								<div class="col-xs-12 col-sm-5">
									<span class="block input-icon input-icon-right">
										<input type="text" id="sort" name="sort" class="width-100" value="0" placeholder="请输入数字" />
										<i class="ace-icon fa fa-leaf green"></i>
									</span>
								</div>
								<div class="help-block col-xs-12 col-sm-3 h"> 
									Warning tip help! 
								</div>
							</div>
							<div class="form-group">
								<label for="status" class="col-xs-12 col-sm-2 control-label no-padding-right">状态：</label>
								<div class="col-xs-12 col-sm-5">
									<select class="form-control" id="status" name="status">
			                        	<option value="0">启用</option>
			                         	<option value="1">禁用</option>
									</select>
								</div>
							</div>
							<!-- submit -->
							<div class="col-xs-12 col-sm-1 col-sm-offset-2 no-padding-left">
								<button class="btn btn-info submit" type="submit">
									<i class="ace-icon fa fa-check bigger-110"></i>
									Submit
								</button>
							</div>
							<div class="col-xs-12 col-sm-1 col-sm-offset-2">
								<button class="btn" type="reset">
									<i class="ace-icon fa fa-undo bigger-110"></i>
									Reset
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div><!-- /.col -->
	</div><!-- /.row -->
{/block}
{block name="script"}
	<script>
		$('#img').ace_file_input({
			no_file:'No File ...',
			btn_choose:'Choose',
			btn_change:'Change',
			droppable:false,
			onchange:null,
			thumbnail:false //| true | large
			//whitelist:'gif|png|jpg|jpeg'
			//blacklist:'exe|php'
			//onchange:''
			//
		});
		$('#sample-form').on('submit', function() {
        	var name = $('#name').val(),sign = $('#sign').val();
        	if(!name){
        		layer.tips('名称不能为空！', '#name');
        		$('#name').focus();
        		return false;
        	}
        	//return false;
	        $(this).ajaxSubmit({
	            type: 'post', // 提交方式 get/post
	            url: '', // 需要提交的 url
	            data: {
	                //'username': username,
	                //'password': password,
	                //'verify_code': verify_code
	            },
	            success: function(data) { 
	            	// data 保存提交后返回的数据，一般为 json 数据
	                // 此处可对 data 作相关处理
	                if(data.code == 200){
	                	//location.href = data.data;
	                	history.back();
	                }else{
	                	layer.msg(data.data);
	                }
	            }
	        });
	       	// 阻止表单自动提交事件
	        return false; 
	    });
	</script>
{/block}