{extend name="public:base" /}
{block name="page-content"}
	<div class="row" style="margin: 0 auto">
		<div class="col-sm-12">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-star orange"></i>
						{$nav_position_name} >> 导航列表 NavPosition List
					</h4>
					<div class="widget-toolbar pull-right">
						<a href="#" data-action="collapse">
							<i class="ace-icon fa fa-chevron-up"></i>
						</a>
					</div>
					<h4 class="widget-title lighter pull-right" style="margin-right:20px;">
						<a href="/nav/add/nav_position_id/{$nav_position_id}">
							<i class="ace-icon glyphicon glyphicon-plus"></i>
							添加导航
						</a>
					</h4>
					<h4 class="widget-title lighter pull-right" style="margin-right:20px;">
						<a href="javascript:history.back()">
							<i class="ace-icon glyphicon glyphicon-list"></i>
							返回导航位列表
						</a>
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-header widget-header-flat text-right">
						<h4 class="widget-title lighter count-list">
							系统现有导航位<b>{$count}</b>个
						</h4>
					</div>
					<div class="widget-main no-padding">
						<table class="table table-bordered table-striped table-hover text-center">
							<thead class="thin-border-bottom text-center">
								<tr>
									<th class="text-center">
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>ID
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>名称
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>导航位
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>图片
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>链接
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>排序
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>状态
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>添加时间
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>修改时间
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>操作
									</th>
								</tr>
							</thead>
							<tbody>
								{volist name="list" id="vo"}
									<tr>
										<td>
											<label class="pos-rel">
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</td>
										<td>{$vo.id}</td>
										<td>
											{$vo.name}
										</td>
										<td>{$nav_position_name}</td>
										<td><a href="{$config.domain.static}{$vo.img}" target="_blank">查看</a></td>
										<td><a href="{$vo.url}" target="_blank">查看</a></td>
										<td>{$vo.sort}</td>
						                <td>
						                    {switch name="vo.status"}
											    {case value="0"}正常{/case}
											    {case value="1"}禁用{/case}
											    {default /}
											{/switch}
						                </td>
						                <td>
						                    {$vo.add_time}
						                </td>
						                <td>
						                    {$vo.update_time}
						                </td>
										<td>
											<div class="hidden-sm hidden-xs action-buttons">
												<a class="green" href="/nav/add/nav_position_id/{$nav_position_id}">
													<i class="ace-icon glyphicon glyphicon-plus"></i>
												</a>
												<a class="green" href="/nav/edit/id/{$vo.id}">
													<i class="ace-icon fa fa-pencil bigger-130"></i>
												</a>
												<a class="red bootbox-confirm" href="javascript:;" value="/nav/delete/id/{$vo.id}">
													<i class="ace-icon fa fa-trash-o bigger-130"></i>
												</a>
											</div>
										</td>
									</tr>
							    {/volist}
							</tbody>
						</table>
						{$page}
					</div><!-- /.widget-main -->
				</div><!-- /.widget-body -->
			</div><!-- /.widget-box -->
		</div><!-- /.col -->
	</div><!-- /.row -->
{/block}