{extend name="public:base" /}
{block name="page-content"}
	<div class="row" style="margin: 0 auto">
		<div class="col-sm-12">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-star orange"></i>
						 YeaSoo List
					</h4>
					<div class="widget-toolbar pull-right">
						<a href="#" data-action="collapse">
							<i class="ace-icon fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main no-padding">
						<table class="table table-bordered table-striped table-hover text-center">
							<thead class="thin-border-bottom text-center">
								<tr>
									<th class="text-center">
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>名称
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>角色
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>电话
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>邮箱
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>QQ
									</th>
									<th class="text-center">
										<i class="ace-icon fa fa-caret-right blue"></i>微信
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>edgeto</td>
									<td>PHP开发</td>
									<td></td>
					                <td></td>
					                <td></td>
					                <td>come_yuan</td>
								</tr>
								<tr>
									<td>
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>小中</td>
									<td>PHP开发</td>
									<td></td>
					                <td></td>
					                <td></td>
					                <td>kongbeirebo</td>
								</tr>
								<tr>
									<td>
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>阿强</td>
									<td>android开发</td>
									<td></td>
					                <td></td>
					                <td></td>
					                <td></td>
								</tr>
								<tr>
									<td>
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>陈薪贤</td>
									<td>android开发</td>
									<td></td>
					                <td></td>
					                <td></td>
					                <td></td>
								</tr>
								<tr>
									<td>
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>阮嘉诚</td>
									<td>android开发</td>
									<td></td>
					                <td></td>
					                <td></td>
					                <td></td>
								</tr>
								<tr>
									<td>
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>李康瑞</td>
									<td>android开发</td>
									<td></td>
					                <td></td>
					                <td></td>
					                <td></td>
								</tr>
								<tr>
									<td>
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>颜铭涛</td>
									<td>ios开发</td>
									<td></td>
					                <td></td>
					                <td></td>
					                <td>yanmingtao0127</td>
								</tr>
								<tr>
									<td>
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>steve宇</td>
									<td>ios开发</td>
									<td></td>
					                <td></td>
					                <td></td>
					                <td></td>
								</tr>
								<tr>
									<td>
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>谢展</td>
									<td>H5前端</td>
									<td></td>
					                <td></td>
					                <td></td>
					                <td></td>
								</tr>
								<tr>
									<td>
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>亮古</td>
									<td>H5前端</td>
									<td></td>
					                <td></td>
					                <td></td>
					                <td></td>
								</tr>
							</tbody>
						</table>
					</div><!-- /.widget-main -->
				</div><!-- /.widget-body -->
			</div><!-- /.widget-box -->
		</div><!-- /.col -->
	</div><!-- /.row -->
{/block}