<header class="navbar-static-top">
	<nav class="navbar">
	    <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <!-- <img alt="Brand" src="http://www.yixuanguanggao.com/images/logo.png"> -->
            </a>
        </div>
		<ul class="nav navbar-nav pull-right">
            <li class="active"><a href="" title="">首页</a></li>
            <li class=""><a href="" title="">案例中心</a></li>
            <li class=""><a href="" title="">资讯</a></li>
            <li class=""><a href="" title="">关于我们</a></li>
			<li><a href="/index/contact" title="">联系我们</a></li>
            <li class=""><a href="http://p.qiao.baidu.com/cps/chat?siteId=10451874&userId=22162583" title="" target="_blank" style="color: red">在线客服</a></li>
		</ul>
	</nav>
</header><!-- /header -->
