{extend name="public:base" /}
{block name="page-content"}
	<div class="row" style="margin: 0 auto">
		<div class="col-xs-12">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-star orange"></i>
						添加配置 Add Config
					</h4>
					<div class="widget-toolbar">
						<a href="#" data-action="collapse">
							<i class="ace-icon fa fa-chevron-up"></i>
						</a>
					</div>
					<h4 class="widget-title lighter pull-right" style="margin-right:20px;">
						<a href="javascript:history.back()" onClink>
							<i class="ace-icon glyphicon glyphicon-list"></i>
							返回配置列表
						</a>
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form class="form-horizontal" id="sample-form" action="" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label class="col-xs-12 col-sm-2 control-label no-padding-right">分组：</label>
								<div class="col-xs-12 col-sm-5">
									<span class="block input-icon input-icon-right">
										<input type="text" class="width-100" value="{$group['config_name']}" readonly="true" />
										<i class="ace-icon fa fa-leaf green"></i>
										<input type="hidden" name="group_id" value="{$group['id']}"/>
									</span>
								</div>
								<div class="help-block col-xs-12 col-sm-3 h"> 
									Warning tip help! 
								</div>
							</div>
							<div class="form-group">
								<label for="config_name" class="col-xs-12 col-sm-2 control-label no-padding-right">名称：</label>
								<div class="col-xs-12 col-sm-5">
									<span class="block input-icon input-icon-right">
										<input type="text" id="config_name" name="config_name" class="width-100" placeholder="请输入名称" />
										<i class="ace-icon fa fa-leaf green"></i>
									</span>
								</div>
								<div class="help-block col-xs-12 col-sm-3 h"> 
									Warning tip help! 
								</div>
							</div>
							<div class="form-group">
								<label for="config_sign" class="col-xs-12 col-sm-2 control-label no-padding-right">标识：</label>
								<div class="col-xs-12 col-sm-5">
									<span class="block input-icon input-icon-right">
										<input type="text" id="config_sign" name="config_sign" class="width-100" value="" placeholder="请输入标识" />
										<i class="ace-icon fa fa-leaf green"></i>
									</span>
								</div>
								<div class="help-block col-xs-12 col-sm-3 h"> 
									Warning tip help! 
								</div>
							</div>
							<div class="form-group">
								<label for="config_value" class="col-xs-12 col-sm-2 control-label no-padding-right">配置值：</label>
								<div class="col-xs-12 col-sm-5">
									<span class="block input-icon input-icon-right">
										<input type="text" id="config_value" name="config_value" class="width-100" value="" placeholder="请输入配置值" />
										<i class="ace-icon fa fa-leaf green"></i>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="explain" class="col-xs-12 col-sm-2 control-label no-padding-right">说明：</label>
								<div class="col-xs-12 col-sm-5">
									<span class="block input-icon input-icon-right">
										<input type="text" id="explain" name="explain" class="width-100" value="" placeholder="请输入说明" />
										<i class="ace-icon fa fa-leaf green"></i>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="status" class="col-xs-12 col-sm-2 control-label no-padding-right">状态：</label>
								<div class="col-xs-12 col-sm-5">
									<select class="form-control" id="status" name="status">
				                        <option value="0">启用</option>
				                        <option value="1">禁用</option>
									</select>
								</div>
								<div class="help-block col-xs-12 col-sm-3 h"> 
									Warning tip help! 
								</div>
							</div>
							<div class="form-group">
								<label for="sort" class="col-xs-12 col-sm-2 control-label no-padding-right">排序：</label>
								<div class="col-xs-12 col-sm-5">
									<span class="block input-icon input-icon-right">
										<input type="text" id="sort" name="sort" class="width-100" value="0" placeholder="请输入数字" />
										<i class="ace-icon fa fa-leaf green"></i>
									</span>
								</div>
								<div class="help-block col-xs-12 col-sm-3 h"> 
									Warning tip help! 
								</div>
							</div>
							<!-- submit -->
							<div class="col-xs-12 col-sm-1 col-sm-offset-2 no-padding-left">
								<button class="btn btn-info submit" type="submit">
									<i class="ace-icon fa fa-check bigger-110"></i>
									Submit
								</button>
							</div>
							<div class="col-xs-12 col-sm-1 col-sm-offset-2">
								<button class="btn" type="reset">
									<i class="ace-icon fa fa-undo bigger-110"></i>
									Reset
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div><!-- /.col -->
	</div><!-- /.row -->
{/block}
{block name="script"}
	<script>
		$('#sample-form').on('submit', function() {
        	var config_name = $('#config_name').val(),config_sign = $('#config_sign').val(),config_value = $('#config_value').val();
        	if(!config_name){
        		layer.tips('名称不能为空！', '#config_name');
        		$('#config_name').focus();
        		return false;
        	}
        	if(!config_sign){
        		layer.tips('标识不能为空！', '#config_sign');
        		$('#config_sign').focus();
        		return false;
        	}
        	if(!config_value){
        		layer.tips('配置值不能为空！', '#config_value');
        		$('#config_value').focus();
        		return false;
        	}
        	//return false;
	        $(this).ajaxSubmit({
	            type: 'post', // 提交方式 get/post
	            url: '', // 需要提交的 url
	            data: {
	                //'username': username,
	                //'password': password,
	                //'verify_code': verify_code
	            },
	            success: function(data) { 
	            	// data 保存提交后返回的数据，一般为 json 数据
	                // 此处可对 data 作相关处理
	                if(data.code == 200){
	                	//location.href = data.data;
	                	history.back();
	                }else{
	                	layer.msg(data.data);
	                }
	            }
	        });
	       	// 阻止表单自动提交事件
	        return false; 
	    });
	</script>
{/block}